/* game board table */

#board td {
  width: 50px;
  height: 50px;
  border: solid 1px #666;
}
body{
  background: linear-gradient(rgb(98, 98, 100),rgb(32, 37, 41)) fixed;
}

#board{
  margin: auto;
}

h1{
  text-align: center;
}

.p1{
  margin: 5px;
  width: 80%;
  height: 80%;
  background-color: red;
  border-radius: 50%;
  animation-duration: .8s;
  animation-name: slidein;
}
@keyframes slidein {
  from{
    margin-top: -800%
  }
  to{
    margin-bottom: 0;
  }
}
.deleteGame {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s linear;
}



.p2{
  margin: 5px;
  width: 80%;
  height: 80%;
  background-color: blue;
  border-radius: 50%;
  animation-duration: .8s;
  animation-name: slidein;
}


/* column-top is table row of clickable areas for each column */

#column-top td {
  border: dashed 1px lightgray;
}

#column-top td:hover {
  background-color: gold;
}

#button{
position: absolute;
left: 48.5%;
top: 6%;
color: white;
background-color: black;
}